﻿@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

	<div id="messages">
	</div>

	<input type="text" name="msg" id="msg" value="" />
	<button id="broadcast">Send</button>
	<script type="text/javascript">
		$(function () {
			
			// create a reference to a specific Hub on the server
			// The SignalR JavaScript client is a jQuery plugin, so we reference it via the jQuery object
			// We have to have prior knowledge of the chat object on the server, 
			// there is nothing to indicate its presence or structure
			var chat = jQuery.connection.chat;

			// Declare the addMessage function on the chat hub so the server can signal it
			// this can do any sort of client side manipulation, we're simply adding list items in this sample
			chat.addMessage = function (message) {
				$('#messages').append('<li>' + message + '</li>');
			};

			// Event handler for the button click
			// this is where we package the data we want to send, and signal the server
			$("#broadcast").click(function () {
				// Clients/Caller on the server are dynamic properties, so we can add additional data
				// if there is no handling for this on the server, it will be ignored
				// We can change nickname to any word we want, as long as it matches on both server and client
				//chat.nickname = "Inigo Montoya";

				// Signal the chat method on the server
				chat.send($('#msg').val());
			});

			// Don't forget to start the connection
			$.connection.hub.start();
		});
	    
	</script>